<div class="col-lg-5 panel panel-info">
    <div class="panel-body">
        <input class="form-control" placeholder="Filter cards..." [(ngModel)]="searchTerm"
            (keyup.enter)="currentPage=0;getCards()">
        <!-- Here comes the list of cards. -->
        <div class="cards-list">
            <a *ngFor="let card of (cards | async)?.results" [class.active]="card === selectedCard"
                (click)="selectedCard = card">
                <h6 class="text-info">{{card.name}}
                    <!-- (<i>{{getCompanyName(card.companyId)}}</i>) -->
                </h6>
            </a>
        </div>
        <div class="paging">
            <button class="col-xs-4 btn btn-info" [disabled]="currentPage <= 0"
                (click)="currentPage=currentPage-1;getCards()">
                <i class="glyphicon glyphicon-chevron-left"></i>
            </button>
            <div class="col-xs-4 page-numbers">{{currentPage + 1}}/{{maxPages}}</div>
            <button class="col-xs-4 btn btn-info" [disabled]="currentPage >= maxPages - 1"
                (click)="currentPage=currentPage+1;getCards()">
                <i class="glyphicon glyphicon-chevron-right"></i>
            </button>
        </div>
    </div>
</div>
<div class="col-lg-7 panel panel-warning current-card" *ngIf="selectedCard">
    <!-- Here comes the selected or newly created card's editor / detail. -->
    <div class="panel-body">
        <img class="profile-picture pull-right" [src]="selectedCard.imageUrl">
        <input class="form-control" *ngIf="editing" [(ngModel)]="selectedCard.imageUrl">
        <h4 class="text-warning">{{selectedCard.name}}
            <i class="glyphicon glyphicon-pencil" (click)="editCard()" *ngIf="!editing"></i>
        </h4>
        <input class="form-control" *ngIf="editing" [(ngModel)]="selectedCard.firstName">
        <input class="form-control" *ngIf="editing" [(ngModel)]="selectedCard.lastName">
        <h6 class="text-warning">"
            <!-- <b>{{selectedCard.role}}</b> at
            <b><a>{{getCompanyName(selectedCard.companyId)}}</a></b> -->
        </h6>
        <input class="form-control" *ngIf="editing" [(ngModel)]="selectedCard.role">
        <select class="form-control" *ngIf="editing" [(ngModel)]="selectedCard.companyId">
            <!-- <option *ngFor="let company of companies" [ngValue]="company.id">{{company.name}}</option> -->
        </select>
        <!-- <p class="text-info">{{selectedCard.motto}}</p> -->
        <input class="form-control" *ngIf="editing" [(ngModel)]="selectedCard.motto">
        <button class="btn btn-default" *ngIf="editing" (click)="saveCard(selectedCard)">Save</button>
        <button class="btn btn-warning" *ngIf="editing" (click)="cancel()">Cancel</button>
        <button class="btn btn-danger pull-right" *ngIf="editing && selectedCard.id" (click)="confirmDelete()">
            Delete</button>
    </div>
</div>